footer
    background $azul
    border-top 2px solid $amarelo
    padding $rem(35) 0
    color #fff
    .center
        display flex
        justify-content space-between
        align-items flex-start
        +mobile()
            flex-direction column
    .links
        a
            display block
            opensans 16
            &:hover
                color $amarelo
            + a
                margin-top .75em
        +below($tablet)
            display none
    .contatos
        opensans 16
        line-height 1.5
        p
            margin 0 0 1em
        strong
            display block
        p
        a
            display block
            padding-left 40px
        .telefone
            background $img('ico-telefone-rodpe.png') no-repeat left center
        .whatsapp
            background $img('ico-whatsapp-rodape.png') no-repeat 2px center
            &:hover
                color $amarelo
    .social
        a
            display block
            width 30px
            height 30px
            text-indent -9999px
            background-repeat no-repeat
            background-position center
            + a
                margin-top 5px
            &.facebook
                background-image $img('ico-facebook-rodape.png')
            &.instagram
                background-image $img('ico-instagram-rodape.png')
            &.compartilhar
                background-image $img('ico-compartilhar-rodape.png')
        +mobile()
            margin $rem(25) 0
            font-size 0
            a
                display inline-block
                + a
                    margin-top 0
                    margin-left 5px
    .copyright
        opensans 10
        p
            margin 0
            + p
                margin-top 1em
        a:hover
            color $amarelo
        +mobile()
            margin-top $rem(25)
