header
    width 100%
    height 100px
    background #fff
    box-shadow 0 5px 30px rgba(#000, .25)
    position relative
    z-index 2
    +mobile()
        height auto
        padding $rem(25) 0
    .center
        display flex
        align-items center
        height 100%
        +mobile()
            flex-direction column
    .logo
        width 100px
        height 70px
        background $img('marca-riskin.png') no-repeat center
        text-indent -9999px
        margin-right $rem(65)
        +mobile()
            margin 0 0 $rem(25)
    nav
        font-size 0
        a
            display inline-block
            opensans 16
            color #000
            &:hover
            &.active
                color $azul
            &.active
                font-weight bold
            + a
                margin-left $rem(40)
        +tablet()
            margin-left auto
        +below(550px)
            a
                display block
                text-align center
                + a
                    margin-left 0
                    margin-top $rem(8)
    .contatos
        margin-left auto
        display flex
        align-items center
        p
        a
            opensans 16
            line-height 1.5
            padding-left 40px
        strong
            display block
        .telefone
            background $img('ico-telefone.png') no-repeat left center
        .whatsapp
            background $img('ico-whatsapp.png') no-repeat 2px center
            margin-left 55px
            &:hover
                color $azul
        +below($tablet)
            display none
