desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul      = #3E4095
$azulClaro = #E0E9EC
$amarelo   = #FFCC29

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans:400,700')

nunito($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Nunito', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

opensans($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
