.como-funciona
    padding-bottom $rem(50)
    overflow hidden
    .center
        clearfix()
    .titulo
        display flex
        float left
        width 435px
        height 200px
        align-items center
        background $azulClaro
        position relative
        z-index -2
        &:before
            content ''
            position absolute
            width 9999px
            height 100%
            right 100%
            top 0
            background $azulClaro
        h1
            margin 0
            nunito 36
            color $azul
        +below($tablet)
            display block
            width 100%
            height auto
            padding $rem(35) 0 $rem(30)
            &:before
                left -50%
                z-index -1
            h1
                font-size $rem(28)
        +mobile()
            padding 25px 0 21px
            h1
                font-size $rem(24)
    .texto
        width calc('100% - 435px')
        float left
        background $amarelo
        position relative
        padding $rem(80) $rem(50) $rem(40)
        &:before
            content ''
            position absolute
            width 9999px
            height 300%
            background $amarelo
            top 0
            left 0
            transform rotate(20deg)
            transform-origin top left
            z-index -1
        &:after
            content ''
            position absolute
            width 9999px
            height 100%
            left 100%
            top 0
            background $amarelo
        h2
            margin 0
            nunito 28 bold
            color $azul
            line-height 1.5
        p
            opensans 18
            color #000
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        +below($tablet)
            width 100%
            padding $rem(30) 0
            &:before
                display none
            &:after
                left -50%
                z-index -1
        +mobile()
            h2
                font-size 18px
            p
                font-size 14px
    .imagem
        background $azulClaro
        padding $rem(50) 0
        img
            display block
            max-width 100%
            margin 0 auto
