.contato
    padding-bottom $rem(50)
    overflow hidden
    .center
        clearfix()
    .left
        width 435px
        float left
    .titulo
        width 100%
        height 200px
        display flex
        align-items center
        background $azulClaro
        position relative
        z-index -2
        &:before
            content ''
            position absolute
            width 9999px
            height 100%
            right 100%
            top 0
            background $azulClaro
        h1
            margin 0
            nunito 36
            color $azul
        +below($tablet)
            display block
            width 100%
            height auto
            padding $rem(35) 0 $rem(30)
            &:before
                left -50%
                z-index -1
            h1
                font-size $rem(28)
        +mobile()
            padding 25px 0 21px
            h1
                font-size $rem(24)
    .contatos
        width 100%
        margin $rem(30) 0 0
        +below($tablet)
            margin-bottom $rem(30)
        p
        a
            display block
            opensans 16
            line-height 1.5
            padding-left 40px
            margin 0
            color #000
        strong
            display block
        .telefone
            background $img('ico-telefone.png') no-repeat left center
            margin-bottom $rem(25)
        .whatsapp
            background $img('ico-whatsapp.png') no-repeat 2px center
    .texto
        width calc('100% - 435px')
        float left
        background $amarelo
        position relative
        padding $rem(80) $rem(50) $rem(40)
        &:before
            content ''
            position absolute
            width 9999px
            height 300%
            background $amarelo
            top 0
            left 0
            transform rotate(20deg)
            transform-origin top left
            z-index -1
        &:after
            content ''
            position absolute
            width 9999px
            height 100%
            left 100%
            top 0
            background $amarelo
        p
            opensans 16
            color #000
            margin 0
        +below($tablet)
            width 100%
            padding $rem(30) 0
            &:before
                display none
            &:after
                left -50%
                z-index -1
    .whatsapp
        display flex
        nunito 22 bold
        color $azul
        align-items center
        span
            flex 0 0 40px
            width 40px
            height 40px
            margin-right 15px
            background $img('ico-whatsapp-color.png') no-repeat left center
        &:hover
            color #000
        +mobile()
            font-size 18px
            span
                flex 0 0 30px
                width 30px
                height 30px
                background-size 100% auto
                margin-right 12px
    .endereco
        text-align center
        padding $rem(70) 0
        opensans 18
        +mobile()
            padding 35px 0
            font-size 14px
    .mapa
        width 100%
        height $rem(650)
        +mobile()
            height 300px
        iframe
            display block
            width 100%
            height 100%

#form-contato
    width 100%
    max-width $rem(650)
    margin $rem(30) 0 $rem(60)
    .form-wrapper
        position relative
    input
        display block
        width calc('100% - 205px')
        height 35px
        border 1px solid $azul
        background transparent
        opensans 18
        padding 0 12px
        border-radius 5px
        outline 0
        color #000
        transition background .3s, box-shadow .3s
        &:focus
            background rgba(#fff, .2)
            box-shadow 0 1px 3px rgba($azul, .5)
        +placeholder()
            color $azul
        + input
            margin-top 5px
    button
        width 200px
        height 75px
        position absolute
        right 0
        bottom 0
        background $azul
        border-radius 5px
        border 0
        outline 0
        nunito 24 bold
        color #fff
        cursor pointer
        transition color .3s
        &:hover
            color $amarelo
    .form-response
        display none
        width 100%
        margin-top $rem(12)
        background #fff
        padding $rem(15)
        border-radius 6px
        nunito 16 bold
        color $azul
        text-align center
    +mobile()
        input
            width 100%
        button
            position relative
            margin-top 5px
            width 100%
