.contrate
    .banner
        height 500px
        background $img('bg-home.jpg') no-repeat center
        background-size cover
        overflow hidden
        .center
            position relative
            height 100%
        .banner-texto
            width 50%
            height 100%
            display flex
            flex-direction column
            justify-content center
            overflow hidden
            h2
                nunito 50 bold
                color $azul
                margin 0
            p
                nunito 28
                max-width 95%
                strong
                    color $azul
            a
                align-self flex-start
                nunito 32 bold
                color $azul
                background $amarelo
                border 1px solid $azul
                border-radius 15px
                padding $rem(20) $rem(60)
                transition all .3s
                &:hover
                    transform translateY(-3px)
                    box-shadow 0 1px 8px rgba(#000, .3)
                    background lighten($amarelo, 10)
        .detalhe-diagonal
            position absolute
            width 9999px
            height 500px
            left 51%
            top 0
            background $amarelo
            transform skew(-27.5deg)
        .banner-imagens
            position absolute
            right 0
            top -1px
            z-index 1
        +tablet()
            height 450px
            .banner-texto
                width 100%
            .detalhe-diagonal
            .banner-imagens
                display none
        +mobile()
            height auto
            .banner-texto
                width 100%
                height auto
                display block
                padding $rem(40) 0
                h2
                    font-size 32px
                p
                    font-size 16px
                a
                    display inline-block
                    font-size 22px
                    padding 12px 28px
                    border-radius 10px
            .detalhe-diagonal
            .banner-imagens
                display none
    .contrate-contato
        overflow hidden
        .center
            clearfix()
            display flex
        .chamada
            background $azulClaro
            width 482px
            display flex
            align-items center
            position relative
            &:before
                content ''
                position absolute
                top 0
                right 100%
                width 9999px
                height 100%
                background $azulClaro
            &:after
                content ''
                position absolute
                width 47px
                height 78px
                background $img('seta-home.png') no-repeat center
                top 50%
                right $rem(62)
                transform translateY(-50%)
            p
                nunito 24
                margin 0
                max-width 330px
                strong
                    color $azul
        .wrapper
            width calc('100% - 482px')
            background $amarelo
            clearfix()
            position relative
            padding $rem(30) 0 $rem(45)
            &:after
                content ''
                position absolute
                top 0
                left 100%
                width 9999px
                height 100%
                background $amarelo
            form
                float right
                margin 0 !important
        +below($tablet)
            .center
                display block
            .chamada
                width 100%
                display block
                padding $rem(30) 0
                &:before
                    left -50%
                    z-index -1
                &:after
                    transform translateY(-50%) rotate(90deg)
                    right 15px
            .wrapper
                width 100%
                padding $rem(30) 0
                &:after
                    height 9999px
                    left -50%
                    z-index -1
                form
                    float none
        +mobile()
            .chamada
                padding-right 70px
                p
                    font-size 18px
                &:after
                    right 5px
                    width 24px
                    height 39px
                    background-size 100% auto
    .sobre
        background #F2F2F2
        padding $rem(60) 0
        .center
            display flex
            align-items flex-start
            justify-content center
        .sobre-texto
            max-width $rem(430)
            margin-left $rem(80)
            h2
                nunito 32 bold
                color $azul
                margin 0
            p
                nunito 24
                strong
                    color $azul
            a
                display inline-block
                nunito 22 bold
                color $azul
                background $amarelo
                border 1px solid $azul
                border-radius 15px
                padding $rem(18) $rem(40)
                transition all .3s
                &:hover
                    transform translateY(-3px)
                    box-shadow 0 1px 8px rgba(#000, .3)
                    background lighten($amarelo, 10)
        +tablet()
            img
                width 280px
        +mobile()
            padding 30px 0
            .center
                display block
            img
                width 100%
                max-width 200px
            .sobre-texto
                margin 30px 0 0
                max-width 100%
                h2
                    font-size 20px
                p
                    font-size 14px
                a
                    border-radius 10px
                    padding 12px 28px
