.home
    .banner
        height 500px
        background $img('bg-home.jpg') no-repeat center
        background-size cover
        .center
            position relative
            height 100%
        .banner-texto
            width 50%
            height 100%
            display flex
            flex-direction column
            justify-content center
            overflow hidden
            position relative
            z-index 102
            h2
                nunito 50 bold
                color $azul
                margin 0
            p
                nunito 28
                max-width 90%
                strong
                    color $azul
            a
                align-self flex-start
                nunito 32 bold
                color $azul
                background $amarelo
                border 1px solid $azul
                border-radius 15px
                padding $rem(20) $rem(60)
                transition all .3s
                &:hover
                    transform translateY(-3px)
                    box-shadow 0 1px 8px rgba(#000, .3)
                    background lighten($amarelo, 10)
        .banner-imagens
            position absolute
            right 0
            top -1px
        +tablet()
            height 450px
            .banner-texto
                width 100%
            .banner-imagens
                display none
        +mobile()
            height auto
            .banner-texto
                width 100%
                height auto
                display block
                padding $rem(40) 0
                h2
                    font-size 32px
                p
                    font-size 16px
                a
                    display inline-block
                    font-size 22px
                    padding 12px 28px
                    border-radius 10px
            .banner-imagens
                display none
    .frase
        background $amarelo
        padding $rem(40) 0
        p
            nunito 32
            color #000
            margin 0
            text-align center
            strong
                color $azul
        +mobile()
            padding $rem(30) 0
            p
                font-size 20px
    .chamadas
        padding $rem(54) 0
        display flex
        flex-wrap wrap
        margin-bottom $rem(-54)
        .chamada
            width 33.333%
            text-align center
            padding 0 $rem(30)
            margin-bottom $rem(54)
            h3
                nunito 24 bold
                color $azul
            p
                opensans 16
                margin 0
        +tablet()
            justify-content center
            padding $rem(40) 0
            margin-bottom $rem(-40)
            .chamada
                width 50%
                margin-bottom $rem(40)
                h3
                    font-size $rem(20)
        +mobile()
            padding $rem(30) 0
            margin-bottom $rem(-30)
            .chamada
                width 100%
                padding 0
                margin-bottom $rem(30)
                h3
                    font-size $rem(20)
