.vantagens
    background $img('bg-vantagens.jpg') no-repeat center
    background-size cover
    padding $rem(60) 0
    h2
        text-align center
        nunito 36 bold
        color $azul
        margin 0 0 1em
    .vantagens-wrapper
        display flex
        justify-content space-between
        flex-wrap wrap
        .vantagem
            background rgba(#fff, .7)
            padding $rem(30)
            width calc('33.333% - (10px * 2 / 3)')
            margin-bottom 10px
            .titulo
                display flex
                align-items center
                nunito 20 bold
                color $azul
                img
                    flex 0 0 50px
                    margin-right 12px
            p
                margin-bottom 0
                opensans 16
    +tablet()
        .vantagens-wrapper .vantagem
            width calc('50% - (10px / 2)')
    +mobile()
        padding 30px 0
        h2
            font-size 22px
        .vantagens-wrapper .vantagem
            width 100%
